@charset "utf-8";
/* CSS Document */



/* @font-face {
    font-family:robotolight; 
    src: url(/static/fonts/robotolight.ttf); 
}
@font-face {
    font-family:robotoblack; 
    src: url(/static/fonts/robotoblack.ttf); 
} */

@font-face {
    font-family:focolight; 
    src: url(/static/fonts/Foco_Lt.ttf); 
}
@font-face {
    font-family:focoregular; 
    src: url(/static/fonts/Foco_Rg.ttf); 
}
@font-face {
    font-family:focobold; 
    src: url(/static/fonts/Foco-Bold.otf); 
}
@font-face {
    font-family:focoblack; 
    src: url(/static/fonts/Foco_Blk.ttf); 
}


html				{ margin: 0; padding: 0; font-family:arial; /*height: 100%; width: 100%;*/ position: relative; /*background: url('/static/images/mainbackground.jpg');*/ }
body       {      text-rendering: optimizeLegibility; margin: 0 auto; padding: 0; font-family:focoregular,arial; height: 100%; width: 100%; position: relative; /*box-shadow: 0 0 10px #462667;*/ color: #283941; }
*						{	box-sizing:border-box; -webkit-font-smoothing: antialiased; -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px; }
p 						{	margin:0px;	}
h1 						{	margin:0px;	}
h2 						{	margin:0px; font-size:2em;	}
h3 						{	margin:0px;	}
/* label                   { font-weight: 100!important;}
input                   {   border-radius:0px!important; border:1px solid #68b7d6!important; } */

/*Header styles*/
header         { transition: all .4s linear; height: auto; color: #fff; z-index: 10000; position: fixed; top:0; left:0; right:0;}
#header {background-color: none;
    -webkit-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
    color:#3c1053;
    z-index: 1000000000;
    position: fixed; top: 0; left: 0; right: 0;
    border-bottom:none;
    
}
.subheader      {   border-bottom: 1px solid rgba(255, 255, 255, 0.19);}
header img         { height: 100%; width: auto;}

#mainnav        { position: relative; float: right; height: 100%;}
#mainnav ul     { margin:0; padding: 0; height: 100%; }
#mainnav ul li  { display: inline-table; list-style-type: none;  height: 100%;  }

#mainnav ul li a {transition: all .4s linear; border: 1px solid transparent; border-bottom:2px solid transparent; background: none; color: #fff; font-size: 85%; font-family: focoregular; /*text-shadow: 0 0 2px #5c5b5b;*/ /*text-transform: uppercase;*/  display: list-item; text-decoration: none; /*padding: 32px;*/ padding: 14px 1px; margin: 20px 5px; border-radius: 0;}
#mainnav ul li a:hover {background:none;  }
#mainnav ul li a.active {background:none;  }
.menudiv {  transition: all .4s linear; }
.registerbut { background:#fff!important; color:#000!important;   border: 1px solid #fff !important; border-radius: 20px !important; padding: 5px 28px !important;}
#menubutton { padding-left:33px; position: relative; color:#fff; font-size: 30px;}



#mobilenav        { position: fixed; top: 80px; left: 0; right: 0; display: none; width: 100%; margin: 0; padding: 0; height: auto; background: #f9f9f9; text-align: left;  z-index: 40000000;}
#mobilenav ul     { margin:0; padding: 0; height: auto; width: 100%; }
#mobilenav ul li  { display: block; list-style-type: none; width: 100%; text-align: center;  height: 100%; border-bottom:1px solid #eee  }

#mobilenav ul li a { transition: all .4s linear; background: none; color: #6163d1; font-size: 100%; text-align: right;  display: list-item; text-decoration: none; padding: 10px 10px;}

#slider { /* background: #4e54c8; */
  background: linear-gradient(135deg, rgba(0, 156, 222, 0.91), rgba(0, 48, 135, 0.96)), url(/static/slider/images/slide1.jpg), url(/static/slider/images/slide1.jpg); background-size: cover; background-position: center top;  }
#slidercontainer {  height:auto; min-height:100vh; /*margin-top:80px; */
    background: linear-gradient(rgba(29, 29, 29, 0.86), rgba(11, 11, 11, 0.98)), url(/static/images/slider.jpg); background-color: #00688f;background-size: cover; background-position: center right; color:#eee;
}
#slidervideo {position: absolute; z-index: 0; background-size: 100% 100%; top: 0px; left: 0px; min-width: 100%; min-height: 100%; width: auto; height: auto;}
#mainheaderandslider{height: 100%;
    /* background: radial-gradient(farthest-corner at 470px 47px, rgba(243, 197, 13, 0.23) 20%, rgba(249, 203, 16, 0.41) 30%, rgba(242, 197, 13, 0.46) 50%);
    background-image: -webkit-radial-gradient(farthest-corner at 470px 47px, rgba(243, 197, 13, 0.23) 20%, rgba(249, 203, 16, 0.41) 30%, rgba(242, 197, 13, 0.46) 50%);
    background-size: 300% 300%;
    
    -webkit-animation: slidebackgroundanimation 30s ease infinite;
    -moz-animation: slidebackgroundanimation 30s ease infinite;
    -o-animation: slidebackgroundanimation 30s ease infinite;
    animation: slidebackgroundanimation 30s ease infinite;*/
    } 

    
    /* @-webkit-keyframes slidebackgroundanimation {
        0%{background-position:79% 0%}
        50%{background-position:22% 100%}
        100%{background-position:79% 0%}
    }
    @-moz-keyframes slidebackgroundanimation {
        0%{background-position:79% 0%}
        50%{background-position:22% 100%}
        100%{background-position:79% 0%}
    }
    @-o-keyframes slidebackgroundanimation {
        0%{background-position:79% 0%}
        50%{background-position:22% 100%}
        100%{background-position:79% 0%}
    }
    @keyframes slidebackgroundanimation { 
        0%{background-position:79% 0%}
        50%{background-position:22% 100%}
        100%{background-position:79% 0%}
    } */

    #mainslider     { /*background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('/static/slider/images/bigslider9.jpg'); background-color: #283941; background-size: cover; background-position: center right;*/ overflow-y: auto;
    }
  /*#mainslider     { background: radial-gradient(closest-corner,rgba(16,47,70,0) 95%,rgba(16,47,70,0.26)), linear-gradient(200deg,rgba(0,0,0,0.7),rgba(0,0,0,1) 95%), url('/static/slider/images/bigslider9.jpg'); background-color: #283941; background-size: cover; background-position: center right; overflow-y: auto;}*/
  #mainheaderandslider_cover{
  background: url('/static/slider/images/29.jpg'); background-color: #283941; background-size: cover; background-position: bottom left;
  }
  #mainheaderandslider{height: 100%;
  background: radial-gradient(farthest-corner at 470px 47px, rgba(66, 39, 90,0.98) 20%, rgba(115, 75, 109, 0.96) 30%, rgba(66, 39, 90,0.98) 50%);
  background-image: -webkit-radial-gradient(circle farthest-corner at 470px 47px, rgba(66, 39, 90,0.98) 20%, rgba(115, 75, 109, 0.96) 30%, rgba(66, 39, 90,0.98) 50%);
  background-size: 300% 300%;
  
  -webkit-animation: slidebackgroundanimation 30s ease infinite;
  -moz-animation: slidebackgroundanimation 30s ease infinite;
  -o-animation: slidebackgroundanimation 30s ease infinite;
  animation: slidebackgroundanimation 30s ease infinite;
  }
  
  @-webkit-keyframes slidebackgroundanimation {
      0%{background-position:79% 0%}
      50%{background-position:22% 100%}
      100%{background-position:79% 0%}
  }
  @-moz-keyframes slidebackgroundanimation {
      0%{background-position:79% 0%}
      50%{background-position:22% 100%}
      100%{background-position:79% 0%}
  }
  @-o-keyframes slidebackgroundanimation {
      0%{background-position:79% 0%}
      50%{background-position:22% 100%}
      100%{background-position:79% 0%}
  }
  @keyframes slidebackgroundanimation { 
      0%{background-position:79% 0%}
      50%{background-position:22% 100%}
      100%{background-position:79% 0%}
  }
  
  
  
  #mainslider .leftslidecontent { line-height: 2; background: rgba(44,50,55,0.29); border-radius: 5px; padding: 10px;}
  .sliderrequestquote_hollow { background: #1ABC9C; color:white; text-decoration:none; border:2px solid #1ABC9C; padding: 10px; border-radius:4px; margin: 0 5px; text-shadow: none;}
  .sliderrequestquote_hollow:hover { background:none; color:#1ABC9C; text-decoration:none; border:2px solid #1ABC9C; padding: 10px; border-radius:4px;}
  .sliderrequestquote_hollow:active { text-decoration: none; }
  
  .sliderrequestquote { background: none; color:white; text-decoration:none; border:2px solid white; padding: 10px; border-radius:4px; margin: 0 5px;}
  .sliderrequestquote:hover { background: #1ABC9C; color:white; text-decoration:none; border:2px solid white; padding: 10px; border-radius:4px;}
  .sliderrequestquote:active { text-decoration: none; }
  .slidersocial a{color:white;}

  .pageheader { height: 150px; text-align: center; padding-top:85px; background: linear-gradient(135deg, rgba(0, 156, 222, 0.91), rgba(0, 48, 135, 0.96)), url(/static/slider/images/slide1.jpg), url(/static/slider/images/slide1.jpg); background-size: cover; background-position: center center; color:#fff; font-family: focobold; }
    
#keycodediv {width:100%;   }
#keycodediv button { background:#00688f; color:#eee; border:1px solid rgba(243, 198, 13, 0.83); width:33.3%; }
#keycodediv button:hover {background:#317f9d;}

#footer{ padding:50px 20px; text-align: left; color:#919191; background: #343434; font-size:90%;}
#footer h5 { color:#efefef; }
#footer a { color: #919191; }
#smallfooter{ background: #2d2d2d; padding:10px; color:#ccc; font-size:90%;}
.roundinput { border-radius: 2px; border:1px solid #00688f; color:#00688f; outline: none;}
.roundbtn {border-radius: 40px; background: #00688f; border:1px solid #00688f; outline: none!important;}
.roundbtn:hover {background: #0f7da7; }

.roundbtn_white{outline:none; text-decoration: none; background: none; border:2px solid #fff; color:#fff; border-radius:50px; padding:10px 30px; margin:10px 5px; display: block;}
.roundbtn_white:hover{background: #fff; color:#00688f!important; text-decoration: none; }
    